scapy>=2.4.3
networkx
# scikit-learn
numpy
pandas
# matplotlib
# mlxtend
dpkt
sqlparse
python-dateutil
sh
sqlparse
mysqlclient
python-dotenv
requests
pyyaml
pylibmc==1.6.1
# python-logstash-async
redistimeseries
# uuid
joblib
kafka-python
elasticsearch