extends ../../admin

block prepend head
    title=title

block content
    .content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1.m-0.text-dark Web Logs
                .col-sm-6
                    ol.breadcrumb.float-sm-right
                        li.breadcrumb-item Home
                        li.breadcrumb-item Logs
                        li.breadcrumb-item.active Web
    section.content