//extends admin

//block content
.content-header
    .container-fluid
        .row.mb-2
            .col-sm-6
                h1.m-0.text-dark Audit Logs
            .col-sm-6
                ol.breadcrumb.float-sm-right
                    li.breadcrumb-item Home
                    li.breadcrumb-item Logs
                    li.breadcrumb-item.active Audit
section.content